/* ********* */
/* @FOOTER */
/* ********* */

.fondo {
  display: flex;
  flex-direction: column;
  background-color: map-get($colores, colorPrincipal);
  padding: map-get($margins, margenFondo);
  color: white;
  font-family: map-get($tipografia, fuenteGeneral);
}

.logo {
  display: flex;
  justify-content: center;
}

.pages {
  display: flex;
  justify-content: space-evenly;
}

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: map-get($margins, margenTexto);
  font-size: map-get($tipografia, tamañoTexto);
}

.redes {
  display: flex;
  justify-content: space-around;
  background-color: map-get($colores, colorPrincipal);
}

.borde01 {
  height: 50px;
  flex-grow: 1;
  background-color: map-get($colores, colorSecundario);
  border-radius: 0 50px 0 0;
}
.borde02 {
  height: 50px;
  flex-grow: 1;
  background-color: map-get($colores, colorSecundario);
  border-radius: 50px 0 0 0;
}

.rss {
  padding: map-get($margins, margenRss);
}
